[submodule "exercise-00"]
	path = exercise-00
	url = https://github.com/cake-lier/jacamo-ex-00.git
[submodule "exercise-01"]
	path = exercise-01
	url = https://github.com/cake-lier/jacamo-ex-01.git
[submodule "exercise-02"]
	path = exercise-02
	url = https://github.com/cake-lier/jacamo-ex-02.git
[submodule "exercise-03"]
	path = exercise-03
	url = https://github.com/cake-lier/jacamo-ex-03.git
[submodule "exercise-04"]
	path = exercise-04
	url = https://github.com/cake-lier/jacamo-ex-04.git
[submodule "exercise-05"]
	path = exercise-05
	url = https://github.com/cake-lier/jacamo-ex-05.git
[submodule "exercise-05a"]
	path = exercise-05a
	url = https://github.com/cake-lier/jacamo-ex-05a.git
[submodule "exercise-06"]
	path = exercise-06
	url = https://github.com/cake-lier/jacamo-ex-06.git
[submodule "exercise-07"]
	path = exercise-07
	url = https://github.com/cake-lier/jacamo-ex-07.git
[submodule "exercise-07a"]
	path = exercise-07a
	url = https://github.com/cake-lier/jacamo-ex-07a.git
[submodule "exercise-07b"]
	path = exercise-07b
	url = https://github.com/cake-lier/jacamo-ex-07b.git
[submodule "exercise-08"]
	path = exercise-08
	url = https://github.com/cake-lier/jacamo-ex-08.git
[submodule "exercise-09"]
	path = exercise-09
	url = https://github.com/cake-lier/jacamo-ex-09.git
